@import url('https://fonts.googleleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
:root{
    --primary-color:#ff7613;
    --text-color:#727171;

}
html {
    font-size:10px;
}
body{
    font-family:inter,sans-serif;
    background-color: black;
    color:white
}

.container{

}